*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(123, 175, 209, 0.712);
    color: white;
}

.body-text{
    width: 35%;
    border: 2px solid white;
    position: relative;
    top: 150px;
    left: 30%;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(61, 96, 97); 
}


.body-text h1{
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.form-data input, .password input{
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

.form-data button{
    background-color: rgb(125, 131, 76);
    border-radius: 15px;
    width: 40%;
    position: relative;
    left: 130px;
    font-size: 25px;
    margin-top: 20px;
    padding: 5px 7px;
    cursor: pointer;
}

.form-data h2{
    position: relative;
    left: 40%;
    margin: 20px ;
}

.form-data a{
    position: relative;
    left: 25%;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.password a{
    position:relative;
    left: 0 ;
    font-size: 20px;
    padding-bottom: 20px;
}