<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            margin: 10px 20px;
        }

        header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        header a{
            color: white;
            text-decoration: none;
        }

        header button{
            border-radius: 10px;
            background-color: black;
            padding: 5px;
        }

        form{
            margin-top: 10px;
        }

        form textarea{
            height: 100px;
            width: 250px;
            padding: 10px;
            display: block;
            margin-bottom: 10px;
        }

        form button{
            color: white;
            background-color: black;
            border-radius: 10px;
            padding: 7px;
        }

        .post{
            margin: 10px 0;
        }

        .post-container{
            width: 700px;
            margin: 10px 0;
            border: 2px solid black;
            text-align: justify;
        }

        .post-container p{
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Profile</h1>
        <button><a href="/logout">Logout</a></button>
    </header>
    <h3>You can create a new post</h3>
    <form action="/api/post" method="post">
        <textarea placeholder="What's on your mind?" name="text" class="resize-none"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>