<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/login.css">
</head>
<body>
    <div class="body-text">
        <h1>Login User account</h1>
        <form action="/api/userLogin" method="post" class="form-data">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <div class="password">
                <a href="/api/changePassword">Forgot Password?</a>
            </div>
            <button type="submit" value="create account"> Login </button>
            <h2>or</h2>
            <a href="/">Create new account</a>
        </form>
    </div>
</body>
</html>