<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        h1{
            margin: 10px;
        }

        form{
            margin: 10px;
        }

        input{
            padding: 2px 5px ;
            margin-right: 7px;
        }

        button{
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Login User account</h1>
    <form action="/api/userLogin" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit" value="create account"> Submit </button>
    </form>
    
</body>
</html>